<head>
  <link href="../../src/output.css" rel="stylesheet">
</head>

<header>
  <div class="container">
    <nav class="flex max-w-full items-center justify-end px-4 gap-6 mx-auto">
      <a 
        href="/posts" 
        id="view-posts" 
        class="font-sans text-lg font-medium order-1 hover:text-slate-100 dark:text-gray-600">
        All Posts
      </a>
      <a 
        href="/posts/new" 
        id="new-post" 
        class="font-sans text-lg font-medium order-2 text-center hover:text-slate-100 dark:text-gray-600">
        New Post
      </a>
      <a 
        href="/" 
        id="home" 
        class="font-sans text-lg font-medium order-3 hover:text-slate-100 dark:text-gray-600">
        Home
      </a>
    </nav>
  </div>
</header>